= form_tag forgot_password_create_path, id: 'frmForgotPassword', :class => 'forget-form', :autocomplete => 'off', :method => 'post' do
  - if flash[:error].present?
    .alert.alert-danger.display-show
      %button.close{"data-close" => "alert"}
      %span
        = flash[:error]
  - if flash[:notice].present?
    .alert.alert-success.display-show
      %button.close{"data-close" => "alert"}
      %span
        = flash[:notice]
  %h3 Forget Password ?
  %p Enter your e-mail address below to reset your password.
  .form-group
    .input-icon
      %i.fa.fa-envelope
      = email_field_tag :email, '', class: 'form-control placeholder-no-fix', placeholder: 'Email', autocomplete: 'off'
  .form-actions
    %button#back-btn.btn.red.btn-outline{:type => "button"} Back
    %button.btn.green.pull-right{:type => "submit"} Submit