=form_for @user, url: users_path, html: {class: 'register-form'} do |f|
  %h3 Sign Up
  %p Enter your personal details below:
  .form-group
    %label.control-label.visible-ie8.visible-ie9 Full Name
    .input-icon
      %i.fa.fa-font
      = f.text_field :name, class: 'form-control placeholder-no-fix', placeholder: 'Full Name', type: 'text'
  %p Enter your account details below:
  .form-group
    %label.control-label.visible-ie8.visible-ie9 Email
    .input-icon
      %i.fa.fa-envelope
      = f.text_field :email, class: 'form-control placeholder-no-fix', placeholder: 'Email', type: 'text'
  .form-group
    %label.control-label.visible-ie8.visible-ie9 Password
    .input-icon
      %i.fa.fa-lock
      = f.text_field :password, class: 'form-control placeholder-no-fix', placeholder: 'Password', type: 'password'
  .form-group
    %label.control-label.visible-ie8.visible-ie9 Re-type Your Password
    .controls
      .input-icon
        %i.fa.fa-check
        %input.form-control.placeholder-no-fix{:autocomplete => "off", :name => "rpassword", :placeholder => "Re-type Your Password", :type => "password"}/
  .form-actions
    %button#register-back-btn.btn.red.btn-outline{:type => "button"} Back
    %button#register-submit-btn.btn.green.pull-right{:type => "submit"} Sign Up