%div.page-content-wrapper
  %div.page-content
    %h3.page-title
      User management
    %div.row
      %div.col-md-12
        .panel
          .panel-heading
            New User
          .panel-body
            = render "sign_up_form"