%div.page-content-wrapper
  %div.page-content
    %div.row
      %div.col-md-12
        %div.portlet.light
          %div.portlet-title
            %div.caption
              %i.icon-social-dribbble.font-green
              %span.caption-subject.font-green.bold.uppercase 
                What for Friday's movie ?
          %div.row
            %div.col-sm-6{:style => 'height: 700px'}
              %img.img-rounded.img-responsive{:src => 'images/brothers-grimsby-movie-poster.jpg'}
            %div.col-sm-6
              .panel.panel-primary
                .panel-heading
                  %h3 Jackass - The Idiot
                .panel-body
                  He's the most stupid idiot ugliest in the universe
