%div.page-content-wrapper
  %div.page-content
    %h3.page-title
      New Post
      %small for vote
    %div.row
      %div.col-md-12
        %div.portlet.light
          %div.portlet-title
            %div.caption
              %i.icon-social-dribbble.font-green
              %span.caption-subject.font-green.bold.uppercase
                Create post for vote
          .portlet-body.form
            = render 'vote'