%div.page-content-wrapper
  %div.page-content
    %h3.page-title
      = @post.type_name
    %div.row
      %div.col-md-12
        %div.portlet.light
          %div.portlet-title
            %div.caption
              %i.icon-social-dribbble.font-green
              %span.caption-subject.font-green.bold.uppercase
                = @post.cat_name + " | " + @post.title
          = render "display_vote", :post => @post
          - @children.each do |child|
            %div.row
              %p
                - if child.authorized? current_user.id
                  %div{style: 'text-align: right'}
                    %a.delete{data: {toggle: 'modal', target: '#confirm-delete', href: post_path(child)}}
                      Remove
            = render "display_vote", :post => child
          %div.portlet-body.flip-scroll
