/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 @import 'bootstrap';
 *= require bootstrap
 *= require font-awesome
 *= require simple-line-icons
 *= require bootstrap-switch
 *= require metronic_dashboard_components
 *= require metronic_dashboard_plugins
 *= require metronic_dashboard_layout
 *= require metronic_dashboard_theme
 *= require profile
 *= require components-rounded
 *= require datatables.bootstrap
 *= require datatables.min
 *= require bootstrap-fileinput
 *= require dropify
 *= require bootstrap-datepicker3.min
 *= require toastr
 *= require randomise
 *= require posts
 *= require votes
 *= require fullcalendar.min
 *= require events
 *= require bootstrap-datetimepicker

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all);


/* Cubic Bezier Transition */
/***
New Profile Page
***/
.profile-sidebar {
  float: left;
  width: 300px;
  margin-right: 20px;
}

.profile-content {
  overflow: hidden;
}

/* PROFILE SIDEBAR */
.profile-sidebar-portlet {
  padding: 30px 0 0 0 !important;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 13px;
  font-weight: 800;
  margin-bottom: 7px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0;
}

.profile-userbuttons button {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
}

.profile-usermenu {
  margin-top: 30px;
  padding-bottom: 20px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 16px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 16px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

.profile-stat {
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f4f7;
}

.profile-stat-title {
  color: #7f90a4;
  font-size: 25px;
  text-align: center;
}

.profile-stat-text {
  color: #5b9bd1;
  font-size: 11px;
  font-weight: 800;
  text-align: center;
}

.profile-desc-title {
  color: #7f90a4;
  font-size: 17px;
  font-weight: 600;
}

.profile-desc-text {
  color: #7e8c9e;
  font-size: 14px;
}

.profile-desc-link i {
  width: 22px;
  font-size: 19px;
  color: #abb6c4;
  margin-right: 5px;
}

.profile-desc-link a {
  font-size: 14px;
  font-weight: 600;
  color: #5b9bd1;
}

/* END PROFILE SIDEBAR */
/* RESPONSIVE MODE */
@media (max-width: 991px) {
  /* 991px */
  /* 991px */
  .profile-sidebar {
    float: none;
    width: 100% !important;
    margin: 0;
  }
  .profile-sidebar > .portlet {
    margin-bottom: 20px;
  }
  .profile-content {
    overflow: visible;
  }
}
