// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.post {
  width: 325px;
  height: 250px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px;
  box-sizing: border-box;
  display: inline-table;
  margin: 10px 3px;
  background-size: cover  !important;
  background-position: 50% 50% !important;
}

.post .control {
  float: right;
  background-color: black;
  padding: 3px 10px;
  color: white;
  margin-right: 7px;
}

.control a {
  color: white;
  font-size: 0.8em;
}

.post .footer {
  height: 35px;
  margin: 5px 0px;
}

.post .space {
  height: 155px;
}

.post .text {
  height: 50px;
  padding: 1px 5px 3px 5px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.post .title {
  font-size: 1.2em;
  font-weight:bold;
}

.post .content {
  font-size: 0.7em;
  text-overflow: ellipsis;
  overflow: hidden;
  height:26px;
}

.post .footer div {
  width: 30%;
  margin: 0px 3px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: white;
}

.post .footer .up { background-color: #3598DC;   }
.post .footer .down { background-color: #E7505A;  }
.post .footer .unknown { background-color: #9B9B9B;  }

.post .footer .up .number { color: #3598DC;  }
.post .footer .down .number { color: #E7505A; }
.post .footer .unknown .number { color: #9B9B9B;  }

.post .footer .number {
  float: left;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  margin: 0;
  font-size: 1.4em;
}

.post .footer .user {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}