// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-heading .message.success {
  background-color: #17c4bb;
}
.panel-heading .message.error {
  background-color: #c4171f;
}

.panel-heading .message {
  width: 457px;
  height: 45px;
  position: absolute;
  z-index: 100;
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 1.5em;
  display: none;
}


.panel-heading .message.success {
  background-color: #17c4bb;
}
.panel-heading .message.error {
  background-color: #c4171f;
}

.panel-heading .message {
  width: 90%;
  height: 45px;
  position: absolute;
  z-index: 100;
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 1.5em;
  display: none;
}

.vote_control .glyphicon{
  font-size: 1.7em;
  vertical-align: middle;
}

.vote_control {
  text-align: center;
}
.vote_control .btn-outline {
  width: 45%;
}

.no_image::after {
  content: "No image"
}
.no_image {
  width: 100%;
  height: 300px;
  background-color: #eef1f5;
  border: 1px solid #bfbfbf;
  color: #bfbfbf;
  line-height: 300px;
  text-align: center;
  font-size: 3em;
  border-radius: 5px;
}

.panel-body .content {
  padding: 10px 0 ;
}

.panel-body .result .user {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  vertical-align: middle;
}

.panel-body .result {
  line-height: 50px;
  border-bottom: 1px solid #e0ebf9;
  padding: 5px 0px;
}
.panel-body .result .up { color: #3598dc}
.panel-body .result .down { color: #e7505a}

.panel-body .result .down,
.panel-body .result .up {
  font-size: 2em;
}
