%div.page-footer
  %div.page-footer-inner
    2015 © Metronic by keenthemes.
    %a{:href => "http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes", :target => "_blank", :title => "Purchase Metronic just for 27$ and get lifetime updates for free"} Purchase Metronic!
  %div.scroll-to-top{:style => "display: none;"}
    %i.icon-arrow-up

