%div.page-header.navbar.navbar-fixed-top
  %div.page-header-inner
    %div.page-logo
      = link_to root_path do
        %img.logo-default{:alt => "logo", :src => "/images/team_logo.png"}
      %div.menu-toggler.sidebar-toggler
    %a.menu-toggler.responsive-toggler{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :href => "javascript:;"}
    %div.page-top
      %div.top-menu
        %ul.nav.navbar-nav.pull-right
          %li.dropdown.dropdown-user
            %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "javascript:;"}
              %span.username= current_user.name
              %i.fa.fa-angle-down
            %ul.dropdown-menu.dropdown-menu-default
              %li
                = link_to edit_user_path(current_user.id) do
                  %i.icon-user
                  My Profile
              %li
                = link_to logout_path, method: :delete do
                  %i.icon-key
                  Log Out