%div.page-sidebar-wrapper
  %div.page-sidebar.navbar-collapse.collapse
    %ul.page-sidebar-menu.page-header-fixed.page-sidebar-menu-hover-submenu{"data-auto-scroll" => "true", "data-keep-expanded" => "false", "data-slide-speed" => "200"}
      %li.nav-item.start.active.open
        = link_to posts_path, class: 'nav-link' do
          %i.icon-social-dribbble
          %span.title My Post
          %span.selected
          %span.arrow.open
      %li.nav-item
        %a.nav-link.nav-toggle{:href => "#"}
          %i.icon-layers
          %span.title Dashboard
          %span.arrow
        %ul.sub-menu
          %li.nav-item
            = link_to posts_votes_path, class: 'nav-link' do
              %span.title Vote
          %li.nav-item
            = link_to posts_randomizes_path, class: 'nav-link' do
              %span.title Randomize